<div class="container">
<div class="row">
    <div class="col-md-4">
    <h2>Sleep</h2>
    <img src={$image} />
    </div>
    <div class="col-md-4">
        <h2>Moon</h2><br><br>
        {$moonimage}
     </div>
    <div class="col-md-3">
        <h2>Beeinflussung</h2>
        {$influence}
        <br><br>
        <h3>Wie empfandest du deinen Schlaf?</h3>
        <button id="mood" type="button" class="btn btn-primary">Stimmungslage angeben</button>
    </div>
    <div class="col-md-1">
        <button id="back" type="button" class="btn btn-primary">Ausloggen</button>
    </div>
</div>
    <div class="row">
        <div class="col-md-4">
        <p><br>Schlafzeit {$length}<br>
            Datum: {$date}<br>
            Qualität (in %): {$quality}</p>
        </div>
        <div class="col-md-4">
            <p><br>Stand (waning/waxing): {$stage} <br>
                Alter (in Tagen): {$age}<br>
                Helligkeit (in %): {$illumination}</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <h4>Tag wechseln</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        <button id="back" type="button" class="btn btn-primary">Tag zuvor</button>
    </div>
        <div class="col-md-1">
            <button id="forward" type="button" class="btn btn-primary">Tag darauf</button>
        </div>
    </div>

</div><!-- /.container -->
<!--
<div class="container">
<h2>Error</h2>
<p>could not complete the request</p>
<a href="index.php?page=connect" class="btn btn-primary">Try again</a>
</div><!-- /.container -->