<div class="container">
<div class="row">
    <div class="col-md-4">
    <h2>Sleep</h2>
    <img src={$image} />
    </div>
    <div class="col-md-4">
        <h2>Moon</h2><br><br>
        {$moonimage}
     </div>
    <div class="col-md-3">
        <h2>Beeinflussung</h2>
        {$influence}
        <br><br>
        <h3>Wie empfandest du deinen Schlaf?</h3>
        <p>Über die Auswahl kannst du deinen von dir empfundenen Schlaf speichern. <br>
        Die Auswahl reicht von 1 (gut) bis 5 (schlecht).</p>
        <form class="moodForm" action="/wirdAbgefangen">
            <select class="selectForm">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <button id="mood-btn" type="submit" class="btn btn-primary">Stimmungslage angeben</button>
        </form>
        <div class="moodText hidden"></div>
        <button id="update-btn" type="button" class="hidden btn btn-primary">Update</button>
        <button id="delete-btn" type="button" class="hidden btn btn-primary">Delete</button>
    </div>
    <div class="col-md-1">
        <button id="logout" type="button" class="btn btn-primary">Ausloggen</button>
    </div>
</div>
    <div class="row">
        <div class="col-md-4">
        <p><br>Schlafzeit {$length}<br>
            Datum: {$date}<br>
            Qualität (in %): {$quality}</p>
        </div>
        <div class="col-md-4">
            <p><br>Stand (waning/waxing): {$stage} <br>
                Alter (in Tagen): {$age}<br>
                Helligkeit (in %): {$illumination}</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <h4>Tag wechseln</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        <button id="back" type="button" class="btn btn-primary">Tag zuvor</button>
    </div>
        <div class="col-md-1">
            <button id="forward" type="button" class="btn btn-primary">Tag darauf</button>
        </div>
    </div>

</div>
<div class="hidden" id="user">{$user_xid}</div>
<div class="hidden" id="sleep">{$sleep_xid}</div><!-- /.container -->
<!--
<div class="container">
<h2>Error</h2>
<p>could not complete the request</p>
<a href="index.php?page=connect" class="btn btn-primary">Try again</a>
</div><!-- /.container -->